body{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: gray;
}

#story{
    text-align: center;
    margin: 3px;
    font-size: x-large;
    font-weight: bold;
}

#warning{
    color: rgb(0, 31, 168);
    font-weight: bolder;
}

#image1{
    display: block;
    align-content: center;
    justify-content: center;
    border-radius: 10%;
    margin-top: 7.5px;
    margin-left: 25%;
    width: 50%;
    height: 500px;
    background-color: rgb(255, 0, 0);
    outline: rgb(75, 75, 75) 5px solid; 
}

#buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#topbuttons{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

#b1, #b2, #b3{
    position: relative;
    font-size: clamp(10px, 5vw, 35px);
    text-align: center;
    align-items: center;
    width: 400px;
    height: 100px;
    outline: 0px black solid;
    border: 0px black solid;
    margin: 5px;
    border-radius: 25px;
    background-color: rgb(75, 75, 75);
}

#b1:hover, #b2:hover, #b3:hover {
    background-color: limegreen;
}